.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../Menu\ alura\ booksg.svg");
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
}